<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
       <h2>Login</h2>
          <form [formGroup]="loginForm" (ngSubmit)="onLogSubmit()">
            <div form-group>
                <label for="username">Username</label>
                  <input  class="form-control" type="text" id="username" formControlName="username"
                     [ngClass]="{ 'is-invalid': submitted && f['username'].errors }">
                  <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                    <div *ngIf="f['username'].errors['required']">Username is required</div>
                    <div *ngIf="f['username'].errors['minlength']">
                      Username must be at least 6 characters
                    </div>
                  </div>
            </div>
    
            <div form-group>
                <label for="email">Email</label>
                 <input  class="form-control" type="email" id="email" formControlName="email"
                   [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                 <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                  <div *ngIf="f['email'].errors['required']">Email is required</div>
                  <div *ngIf="f['email'].errors['email']">Email is invalid</div>  
                 </div>
            </div>
            
            <div form-group>
              <label for="password">Password</label>
               <input  class="form-control" type="text" id="password" formControlName="password"
                  [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
                <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                  <div *ngIf="f['password'].errors['required']">Password is required</div>
                   <div *ngIf="f['password'].errors['minlength']">
                        Password must be at least 8 characters
                    </div>
                  </div>
                </div>

            <div form-group>
               <section>
                 <div class="example-button-row">
                  <button mat-raised-button color="primary" >Login</button>
                  <button mat-raised-button color="accent" (click)="Reg()">Register</button>
                 </div>
              </section>
            </div>
      
        </form>
      </div>
    <div>
</div>
